
<p>
  <h1> <%= link_to 'View Locations', locations_path %></h1>
</p>
<% @locations.each do |current_location| %>
<%= render 'location' , location: current_location%>
<% end %>

<p>
    <h1>  <%= link_to 'View Events', events_path %></h1>
</p>
<% @events.each do |event| %>
  <%= event.name %> <%= event.date %>     <%= event.city%>
  <br>
<% end %>
